@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800; 1.300.800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'open sans', sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#ecf0f1;
}
.first-content{
    display: flex;
 

}
.first-colun{
    text-align: center;
    flex: 1 0 auto;
    z-index: 10;
}
.second-colun{
    flex: 2 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list-social-media{
    display: flex;
}
.form{
    display: flex;
    flex-direction: column;
    width: 55%;
}
.form input{
    height: 45px;
    border: none;
    background-color: #ecf0f1;
    width: 100%;
}
.content{
    background-color: #fff;
    border-radius: 15px;
    width: 960px;
    height: 50%;
    justify-content: space-between;
    align-items: center;
    position: relative;

}
.content::before{
    content: "";
    position: absolute;
    background-color: #d2b48c;
    width: 50%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.title{
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
}
.title-primary {
    color: #fff;
}
.title-second{
    color: #d2b48c;
}
.descricao{
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}
.descricao-primary{
    color: #fff;
}
.descricao-second{
    color: #7f8c8d;
}
.btn{
    border-radius: 15px;
    text-transform: uppercase;
    color:#fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border-width: 0;
    margin-top: 1px;
}
.btn-primary{
    background-color: transparent;
    border: 1px solid #fff;
}
.btn-primary:hover{
    background-color: #fff;
    color: #58af9b;
}
.btn-second{
    background-color: #d2b48c;
    border: 1px solid #d2b48c;
}
.btn-second:hover{
    background-color: #fff;
    border: 1px solid #d2b48c;
    color: #d2b48c;
}
.second-content{
    position: absolute;
    display: none;
}
.label-input{
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}
