@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
  font-family: "Poppins", sans-serif;
}
:root{
    --preto: #000000;
    --degrade-btn: linear-gradient( #fe9611, #ff5c00 );
    --verde: #2f9364;
    --verde-esxuro: #14424b;
    --laranja: #ff7c37;
    --cor-p: #a1a1a1;
    --cor-p-2: #868585;
    --castanho: #d2b48c;
}
.background-verde{
    background: #d2b48c;
}
/* classes reutilisaveis*/
.selection, footer{
    padding: 2.7rem 0;
}
.container{
    max-width: 1400px;
    padding: 0 5%;
    margin: 0 auto;
}
.btn-gradiente{
    padding: 10px 25px;
    color: #000;
    border: none;
    cursor: pointer;
    background-image: #000000;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.logo a{
    font-size: 30px;
    font-weight: bold;
    color: black;
}
.ul{
    display: flex;
    align-items: center;
}
.ul li{
    margin: 0 35px;
    font-size: 15px;
}
.ul li a{
    color: black;
}
/* Main*/
main .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.main-text{
    width: 50%;
    color: #000;
}
.main-text h1{
    font-size: 3.5rem;
}
.main-text div{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.main-img{
    width: 50%;
}
.main-img img{
    width: 100%;
}
.menu-icon{
    display: none;
    position: relative;
    z-index: 10;
}

@media (max-width:960px){
    .menu-icon{
        display: block;
    }
    .ul{
        position: fixed;
        background-color: var(--castanho);
        top: 0; 
        width: 100%;
        height: 100%;
        left: 100%;
        transition: 0.3s;
        flex-direction: column;
        justify-content: center;
    }
    .ul li{
        font-size: 20px;
        margin: 20px 0;
    }
    .ul.ativo{
        left: 0;
    }
    main .container{
        flex-direction: column;
    }
    main .container .main-img{
        width: 100%;
    }
    main .container .main-text{
         width: 100%;
         text-align: center;
    }
    main .container .main-text div{
        justify-content: center;
    }
    main .container .main-text h1{
        font-size: 4rem;
    }
    .diferenciais .container{
        flex-direction: column;
    }
    .diferenciais .card{
        width: 100%;
    }
    .casa .container{
        flex-direction: column-reverse;
    }
    .casa .casa-text{
        width: 100%;
        text-align: center;
        padding: 0;
    }
    .casa .casa-img{
        width: 100%;
        text-align: center;
        padding: 0;
    }
    .historias .cards{
        flex-direction: column;
    }
    .historias .cards .card-iten{
        width: 100%;
        margin-top: 50px;
    }    
    .newsletter .box-newsletter h2{
        font-size: 2rem;
    }
    .newsletter .box-newsletter input{
        width: 90%;
    }
    .newsletter .box-newsletter{
        padding: 50px;
    }
    .newsletter .box-newsletter button{
        width: 50%;
        margin: 20px;
    }
    footer .container{
        flex-direction: column;
    }
    footer .container ul{
        width: 100%;
        margin-bottom: 30px;
    }
}

.resultados{
    background: #fe9611;
}
.resultados .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.resultados .resultados-text{
    color: white;
    font-size: 1.6rem;
    font-weight: 600;
    width: 50%;
}
.resultados .resultados-numeros{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
}
.resultados .resultados-numeros p{
    text-align: center;
    margin: 0 30px;
    font-size: 20px;
}
.resultados .container{
    flex-direction: column;
}
.resultados-numeros{
    margin-top: 30px;
}
.resultados .resultados-numeros, .resultados .resultados-text{
    width: 100%;
    text-align: center;
}
@media (max-width:440px){
    .resultados .resultados-numeros{
        flex-direction: column;
    }
    main .container .main-text h1{
        font-size: 3rem;
    }
}
.diferenciais .container{
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}
.diferenciais .card img{
    width: 60px;
}
.diferenciais .card .titulo{
 margin: 13px 0;
 font-weight: 600;
}
.casa .container{
    display: flex;
    align-items: center;
}
.casa .casa-img{
    width: 50%;
}
.casa .casa-img img{
    width: 100%;
    border-radius: 10px;
}
.casa .casa-text{
    width: 50%;
    padding-left: 90px;
}
.casa .casa-text h2{
    font-size: 2.5em;
}
.casa .casa-text p{
    margin: 20px 0;
    color: var(--cor-p);
}
.casa .casa-text p b{
    color: black;
    font-size: 25px;
}
.diferenciais .card{
    width: 30% ;
    cursor: pointer;
    padding: 30px;
    border-radius: 15px;
    transition: 0.3s;
    text-align: justify;
}
.diferenciais .card:hover{
    background-color: #d2b48c;
}
.historias .azul{
    color: #0060f0;
    font-size: 24px;
    font-weight: 600;
}
.historias h2{
    font-size: 2.5rem;
}
.historias .cards{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.historias .cards .card-itens{
    width: 30%;
    text-align: center;
    padding: 30px 0;
    border-radius: 20px;
}
.historias .cards .card-itens:hover{
    background-color: #d2b48c;
}
.historias .cards img{
    width: 80px;
}
.historias .cards .nome-casa{
    font-size: 30px;
    font-weight: 500;
}
.historias .cards button{
    padding: 10px 20px ;
    color: white;
    background-color: #000;
    border: none;
}
.newsletter{
    background-color: var(--verde);
    margin-top: 50px;
}
.newsletter .box-newsletter h2{
    font-size: 2.5rem;
}
.newsletter .box-newsletter input{
    width: 35%;
    padding: 15px;
    border-radius: 15px;
    border: none;
    outline: none;
    color: #00000098;
    background-color: #faefda;
}
.newsletter .box-newsletter button{
    font-size: 15px;
    border: none;
    padding: 15px;
    border-radius: 14px;
    color: white;
    background-color: var(--verde);
    cursor: pointer;
}
.newsletter .box-newsletter p{
    margin: 13px 0;
}
.newsletter .box-newsletter{
    text-align: center;
    background-image: url('../img/background-newsletter.png');
    padding: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}
footer{
    background-color: var(--verde-esxuro);
}
footer .container{
    display: flex;
    color: white;
}
footer .container ul{
    width: 25%;
}
footer .container h3{
    margin-bottom: 16px;
    font-weight: 600;
}
footer .container .redes-sociais{
    margin: 10px;
}
footer .container ul > p{
    margin-bottom: 40px;
}
footer .container li{
    margin: 10px 0;
}
footer .container a{
    color: white;
}
.diferenciais .card .titulo h3{
    text-align: justify;
}
.casa .casa-text p{
    text-align: justify;
}